.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  /* border: 1px solid white; */
  /* left: -50px; */
  height: 10%;
}

.footer {
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  background: linear-gradient(to right, #714dff, #9c83ff, #e151ff, #fff759);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 25px;
  font-weight: 700;
  display: inline-block;
}
.copyright-text {
  display: inline-block;
  font-size: 15px;
  color: #767676;
  margin-left: 100px;
}
.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-links a {
  color: #767676;
  font-size: 15px;
  text-decoration: none;
}

.footer-links a:hover {
  color: white;
  cursor: pointer;
}


.copyright-text {
  font-size: 0.9rem;
  color: #bbb;
  text-align: center;
}


.footer-links {
  display: flex;
  gap: 1rem; 
}

.footer-links a {
  color: #bbb;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: white; 
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      text-align: center;
  }

  .footer-links {
      margin-top: 10px;
  }
}
