.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid purple;
  border-image: linear-gradient(90deg, #714dff, #e151ff) 1;
  border-radius: 5px;
  box-sizing: border-box;
  flex-direction: column;
  font-weight: bold;
}
.login-container {
  display: flex;
  flex-shrink: 1;
}
.feature-card-extra{
  flex: 1;
  min-width: 0;
  padding: 0.5rem;
  width: 50vh;
}
.login {
  width: 100vh;
  display: flex;
  flex-direction: row;
  height: 50vh;
  align-items: center;
  flex-shrink: 1;
}
.login-button {
  background-color: rgb(43, 43, 43);
  color: white;
  font-weight: bold;
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-field.password {
  flex: 1;
  min-width: 0;
  padding: 10px;
  padding-right: 2.5rem;
  margin: 10px 0;
  border: 3px solid purple;
  border-image: linear-gradient(90deg, #714dff, #e151ff) 1;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: bold;
}zz


.password-toggle {
  position: absolute;
  right: 0.75rem;
  cursor: pointer;
  color: #6b7280;
}

.password-toggle:hover {
  color: #374151;
}

.google-login{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 10px;
  border: 3px solid purple;
  border-image: linear-gradient(90deg, #fde968, #e151ff) 1;
  color: #000000;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 0;
}
.google-login:hover {
  color: #F4F4F4;
  background-color: rgb(207, 207, 207);
  border-image: linear-gradient(90deg, #e151ff, #fde968) 1; 
  transition: ease-in-out 0.2s;
}
.logo-img{
  width: 20px;
  height: 20px;
}
.login-button:hover {
  color: black;
  background-color: rgb(207, 207, 207);
  font-weight: bold;
  transition: ease-in-out 0.2s;
}
.signup-msg {
  color: white;
  font-weight: bold;
}
.popup {
  font-weight: bold;
  color: rgb(255, 0, 242);
}
.popup:hover {
  text-decoration: underline;
  transition: ease-in-out 0.5s;
}