.game-container {
    position: relative;
    width: 1000vw;
    height: 300px;
    background: #222;
    overflow: hidden;
    border: 2px solid white; /* debug */
  }
  
  .sprite {
    position: absolute;
    bottom: 20px;
    background-repeat: no-repeat;
    border: 2px solid red; /* debug frame */
  }
  